.t {
  &__title {
    color: $color_white;
    font-size: 28px;
    line-height: 1.4;
    letter-spacing: .2em;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 20px;
  }

  &__text {
    color: $color_white;
    font-size: 17px;
    line-height: 1.2;
  }
}